.navbar{
  display: grid;
  margin: 0 auto;
  max-width: calc(1128px - 48px);
  height: 80px;
  grid-template-columns: 1fr auto auto auto auto auto;
  align-items: center;
  grid-column-gap: 32px;
}

.navbar-wrapper{

}

.navbar .sublink{
  text-decoration: none;
  color: white;
  display: block;
  position: relative;
  /* color: inherit; */
  line-height: 1.923;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
}

.navbar img{
  height: 35px;
  filter: brightness(0) invert(1);
}

.navbar .vid_link{
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.8px;
}




@media (max-width: 641px) {
  .navbar {
    height: 120px;
    grid-template-columns: 1fr auto;
    padding: 0 20px;
  }

  .bm-burger-button{
    display: block !important;
  }
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #131c2a;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #131c2a;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list a{
  display: block;
  font-weight: 400    ;
  clear: both;
  color: #E5ECF4;
  font-family: "Oxygen", sans-serif;
  padding: 15px 0;
}

.bm-item-list .vidbutton{
  margin: 30px 0;
}



@media screen and (max-width: 600px) {

  .sublink{
    display: none !important;
  }

  .navbar{
    justify-items: flex-start;
    grid-template-columns: 1fr;
    margin-left: 15px;
  }
}


.bm-burger-button{
  filter: brightness(0) invert(1);
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 42px;
  left: auto;
}

.bm-menu{
  background-image: url(../../images/illustration-section-02.svg);
  background-repeat: no-repeat;
}

.bm-menu img {
  filter: brightness(0) invert(1);
}
