.shiftgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 30px;
    align-items: stretch;
    max-width: 100%;
}



/*.shiftgrid a:nth-of-type(2){
    margin-top: 100px;
}

.shiftgrid a:nth-of-type(3){
    top: -100px;
}*/

@media only screen and (max-width: 600px) {
    .shiftgrid {
        grid-template-columns: 1fr;
    }
}