.clients {

    .section-inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 12px;
    }
}

@include media( '>medium' ) {

    .clients {

        ul {
            justify-content: space-around;
        }

        li {
            width: auto;
        }
    }
}
