
.testimonialalts .section-inner {
  padding-top: 0
}

.testimonialalts .section-title {
  margin-bottom: 48px
}

.testimonialalts-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-right: -12px;
  margin-left: -12px
}

.testimonialalts-wrap:first-child {
  margin-top: -12px
}

.testimonialalts-wrap:last-child {
  margin-bottom: -12px
}

.testimonialalt {
  padding: 12px;
  width: 344px;
  max-width: 344px;
  flex-grow: 1
}

.testimonialalt-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 32px 24px
}

.testimonialalt-inner>* {
  width: 100%
}

.testimonialalt-inner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 16px 48px #E7EBF6;
  pointer-events: none;
  mix-blend-mode: multiply
}

@supports (-ms-ime-align: auto) {
  .testimonialalt-inner::before {
    box-shadow: 0 16px 48px rgba(29,43,76,0.12)
  }
}

.testimonialalt-header img {
  width: 90px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 16px 24px #E7EBF6
}

@supports (-ms-ime-align: auto) {
  .testimonialalt-header img {
    box-shadow: 0 16px 24px rgba(29,43,76,0.12)
  }
}

.testimonialalt-body p {
  margin-bottom: 12px
}

.testimonialalt-footer {
  align-self: flex-end
}

.testimonialalt-name {
  font-weight: 600;
  color: #1D2B4C
}

.testimonialalt-footer {
  margin-bottom: 40px
}

@media (min-width: 641px) {
  .testimonialalts .section-title {
    margin-bottom:64px
  }

  .testimonialalt {
    width: 304px;
    max-width: 304px
  }
}

@media (min-width: 1025px) {
  .testimonialalts {
    position:relative
  }

  .testimonialalts::before {
    content: '';
    position: absolute;
    top: 127px;
    left: calc(50% - 530px);
    width: 1071px;
    height: 598px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA3MSIgaGVpZ2h0PSI1OTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPiAgPGRlZnM+ICAgIDxwYXRoIGQ9Ik0xMDUwLjMxIDU5Mi4xOTVjNjcuMDEtNTIuNzMtNTYuNTItODAuNzgtNTYuNTItMjE3LjUxIDAtMTM2LjcyOCA1Ni41Mi0zMzMtODEuNjktMzcwLjI3Qzc3My44OTMtMzIuODU1IDM2OS4zOCAxNzYuNjk4IDUxLjc1MyAyMjUuMDg3LTI2NS44NzYgMjczLjQ3NSA5ODMuMyA2NDQuOTI2IDEwNTAuMzEgNTkyLjE5NXoiIGlkPSJhIi8+ICA8L2RlZnM+ICA8dXNlIGZpbGw9IiNGNEY3RkUiIHRyYW5zZm9ybT0ibWF0cml4KC0xIDAgMCAxIDEwNzAuMzU4IDApIiB4bGluazpocmVmPSIjYSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
    background-repeat: no-repeat
  }

  .testimonialalts .section-title {
    margin-bottom: 80px
  }

  .testimonialalt:nth-child(odd) {
    margin-top: 48px
  }

  .testimonialalt:first-child {
    position: relative;
    margin-top: 136px
  }

  .testimonialalt:first-child::before {
    content: '';
    display: block;
    position: absolute;
    top: -136px;
    left: calc(50% - 44px);
    width: 89px;
    height: 82px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODkiIGhlaWdodD0iODIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBmaWxsPSIjQTNBOUYxIiBkPSJNODQuMjUzIDBMNjAuNDI5IDIxLjk3MSA0OC4zNjIgNTEuMzM3IDY0LjA2NiA4MS4xNmwxOS40MzMtMTkuMzU4LTE4LjQxNC0yNS45NTZMODguNDI0IDMuNzI5eiIvPiAgICA8cGF0aCBmaWxsPSIjNkE3MkU0IiBkPSJNMTIuMTE2IDIxLjk1OUwwIDUxLjMzN2wxNS43NTggMjkuODI5IDE5LjM3NC0xOS4zNjMtMTguNDM5LTI1Ljk1N0w0MC4xOTYgMy43NDEgMzYuMDA2LjAxeiIvPiAgPC9nPjwvc3ZnPg==)
  }
}
